fastapi
uvicorn

langgraph
langgraph-supervisor
langchain-core
langchain-community
langchain-google-genai
langsmith

pypdf
unstructured[pdf]

python-dotenv

pydantic
pandas

pymysql

yfinance
pykrx
tavily-python

requests
beautifulsoup4